<template>
  <div class="home">
    <div>
      <vue-headful :title="pageTitle"/>
    </div>
    <el-container class="main-container">
      <el-aside width="400px">
        <el-input
          placeholder="Filter"
          @input="filterTree()"
          v-model="filterText">
        </el-input>
        <div class="scrollable-tree">
          <el-tree
            class="filter-tree"
            :data="structure"
            :props="defaultProps"
            default-expand-none
            highlight-current
            :filter-node-method="filterNode"
            @node-click="showImage"
            ref="tree">
            <span class="custom-tree-node" slot-scope="{ node, data }">
              <span v-if="data.fsm_state" :class='"fsm-" + data.fsm_state_color'>
                <span style='font-size:20px;'>&#9724;</span>
              </span>
              {{ data.label }}
              <span v-if="data.fsm_state" :class='"fsm-" + data.fsm_state_color'>
                ({{ data.fsm_state }})
              </span>
            </span>
          </el-tree>
        </div>
      </el-aside>
      <el-container>
        <el-header style="text-align: center;">
          <div class="title">{{title}}</div>
        </el-header>
        <el-main>
          <div v-if="selectedImage" class="image-container">
            <img ref="image" :src="selectedImagePath"/>
            <div>{{selectedImageTitle}}</div>
            <div v-if="timestamp">[Snapshot taken @{{timestamp}}]</div>
          </div>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

// Tree data injected by external javascript
// This allows the built version of the page to update the tree contents
// on reload, if we change staticTreeData variable in external js.
declare var staticTreeData: any;

@Component
export default class Home extends Vue {
  private structure = [];
  private title = '';
  private pageTitle = '';
  private timestamp = '';
  private defaultProps = {
    children: 'children',
    label: 'label',
  };
  private filterText = '';
  private selectedImageTitle = '';
  private selectedImage = '';
  private selectedImagePath = '';
  private filterNode(value: string, data: any) {
    if (!value) {
      return true;
    }
    return data.label.indexOf(value) !== -1;
  }
  private filterTree() {
    const self = this as any;
    self.$refs.tree.filter(this.filterText);
  }
  private showImage(obj: any) {
    this.selectedImage = obj.image || '';
    this.selectedImagePath = `./data/images/${this.selectedImage}` || '';
    this.selectedImageTitle = obj.tree_path || '';
    this.timestamp = obj.timestamp || '';
  }
  private mounted() {
    this.structure = staticTreeData.data;
    this.title = staticTreeData.title + ' uniSnap_snapshots @' + staticTreeData.timestamp;
    this.pageTitle = this.title;
  }
}
</script>

<style scoped>
.main-container {
  height: 95vh;
  padding: 5px;
}
.title {
  font-size: 1.5em;
  font-weight: bold;
}
.image-container {
  text-align: center;
}
.scrollable-tree {
  margin-top: 5px;
  max-height: 85vh;
  overflow-y: auto;
}

/* FSM State Colors */
.fsm-FwStateOKPhysics {
  color: rgb(0,204,153);
}
.fsm-FwStateOKNotPhysics {
  color: rgb(255,153,0);
}
.fsm-FwStateAttention1 {
  color: rgb(247,202,26);
}
.fsm-FwStateAttention2 {
  color: rgb(255,153,0);
}
.fsm-FwStateAttention3 {
  color: rgb(255,0,0);
}
</style>
